header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    margin-right: 20px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  nav a:hover {
    color: #1BF7DE;
  }

  body .container{
    display: flex;
    display: inline-block;
    
  }

  .container{
    margin-top: 50px;
    width: 400px;
    height: 200px;
    background-color: beige;
    
  }

  .container {
    height: 500px;
    width: 500px;
    background-color: azure;
    padding: auto;
    margin: auto;

}

label{
    flex-direction: column;
    display: grid;
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
 
  
}

.imagen{
  width: 250px;
  margin: 10px;
  padding: auto;  
  display: inline-block;
  
}

footer {
  height: 200px;
  background-color: cadetblue;
}

  @media (max-width: 767px) {
    header{
        background-color: #333;
    }
  }

  @media (max-width: 767px) {
    nav{
        font-size: 16px;
    }
  }

  @media (min-width: 1400px) {
    header{
        width: 1200px;
    }
  }

